.register {
    height: 80%;
    width: 80%;
    background-image: linear-gradient(100deg,
                        transparent 0%,
                        transparent 49%,
                        rgba($color-white-rgb, .9) 50%,
                        rgba($color-white-rgb, .9) 100%,
                        ), url(/social.jpg);

    background-size: 100%;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba($color: var(--color-black), $alpha: .2);

    &__form {
        width: 53%;
        position: relative;
        left: 52%;
        padding: 4rem;
        padding-top: 0rem;

    }
}